
.tabssbxsn{
    position: absolute;
    left: 70px;
    height: 30px;
    width: 110px;
    background: #202023;
    color: cornflowerblue;
    visibility: hidden;
    transition: 700ms;
    opacity: 0;
    font-size: 15px;
    padding: 5px 19px;
    margin-top: 6px;
    border-radius: 7px;
}
.tbhsn:hover .tabssbxsn{
    left: 50px;
    opacity: 1;
    visibility: visible;
}
.tabtg{
    position: absolute;
    top: 50%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs-box{
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -2px;
    background: #202023;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabsshow{
  display: flex;
  opacity: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.tabshide{
    opacity: 0;
    display: none;
}
.tabsbtn {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabshome{
    height: 35px !important;
    width: 35px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.tabsi{
    margin-top: -3px !important;
    font-size: 20px;
    color: dimgray;
}
.tabsicon{
    margin-top: 1px !important;
    font-size: 20px !important;
    color: dimgray !important;
    margin-left: -10px;
}

.itstg{
    position: relative;
    background: #202023;
    margin: -1px;
    border-radius: 5px;
}
.anii{
   height: 20px;
   width: 20px;
   background:transparent;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   margin: 0 auto !important;
   border: 2px solid lightgray;
   border-top-color:dimgray;
   animation: taptgd 0.7s ease-in-out infinite;
}
.xanii{
    font-size: 20px !important;
    background:transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    margin: 0 auto !important;
    color: dimgray;
 }
@keyframes taptgd {
    0%{
        transform: rotate(1turn);
    }
    50%{
        transform: rotate(2turn);
    }
    100%{
        transform: rotate(1turn);
    }
}


