
<div class="overlay">
<div class="container-fluid mcon">
    <div class="chip-con">
    <mat-chip-list >
        
        <mat-chip>
          <img matChipAvatar src="https://images.pexels.com/photos/10213104/pexels-photo-10213104.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu"/>
          <div class="textc" (click)="magazine()">Magazine</div>
        </mat-chip>
        <mat-chip color="primary">
          <img matChipAvatar src="https://images.pexels.com/photos/1161994/pexels-photo-1161994.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Photo of a Shiba Inu"/>
          <div class="textc" (click)="Sports()">Sports</div>
        </mat-chip>
        <mat-chip color="accent">
          <img matChipAvatar src="https://images.pexels.com/photos/237272/pexels-photo-237272.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu"/>
          <div class="textc" (click)="Lifestyle()">Lifestyle</div>
        </mat-chip>
        <mat-chip color="accent">
          <img matChipAvatar src="https://images.pexels.com/photos/4968639/pexels-photo-4968639.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu"/>
          <div class="textc" (click)="send()">Budget</div>
        </mat-chip>
          <mat-chip color="accent">
          <img matChipAvatar src="https://images.pexels.com/photos/5878516/pexels-photo-5878516.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Photo of a Shiba Inu"/>
            <div class="textc" (click)="covid()" >covid-19</div>
          </mat-chip>
          <mat-chip color="accent">
          <img matChipAvatar src="https://images.pexels.com/photos/2381596/pexels-photo-2381596.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Photo of a Shiba Inu"/>
          <div class="textc" (click)="ent()" >Entertainment</div>
          </mat-chip>
          <mat-chip color="accent">
            <img matChipAvatar src="https://images.pexels.com/photos/672630/pexels-photo-672630.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Photo of a Shiba Inu"/>
            <div class="textc" (click)="Dharmdarshan()">Dharmdharshan</div>
            </mat-chip>
            <mat-chip color="accent">
              <img matChipAvatar src="https://images.unsplash.com/photo-1508791290064-c27cc1ef7a9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80" alt="Photo of a Shiba Inu"/>
              <div class="textc" (click)="Utility()">Utility</div>
              </mat-chip>
          <div class="textc" class="chipsbg">
          </div>
          
      </mat-chip-list>
    </div>
    
</div>
</div>